/* 제일 아래에 과제하면서 헤맨거와 궁금한점 따로 적어놨습니다 */
@charset "utf-8";
@import "reset.css";

#box{
    width: 100%;
    background-color: #eee;
    padding: 200px 0 150px;
}

#box .inner{
    width: 1180px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#box .inner h1{
    font: bold 30px/1 "arial";
    color: #555;
    text-align: center;
    margin-bottom: 10px;
}

#box .inner>h2{
    font: normal 18px/1 "arial";
    color: #777;
    text-align: center;
    margin-bottom: 80px;
}

#box .inner .wrap{
    width: 100%;
}

#box .inner .wrap::after{
    content: '';
    display: block;
    clear: both;
}


#box .inner .wrap article{
    width: 280px;
    float: left;
    margin-right: 20px;
    /* background-color: skyblue; */
}

#box .inner .wrap article:nth-child(4){
    margin-right: 0px;
}

#box .inner .wrap article .pic,
#box .inner .wrap article .pic2,
#box .inner .wrap article .pic3,
#box .inner .wrap article .pic4{
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    background-color: #555;
}

#box .inner .wrap article>h2
#box .inner .wrap article>h2,
#box .inner .wrap article>h2,
#box .inner .wrap article>h2{
    font: bold 22px/1 "arial";
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

#box .inner .wrap article>p,
#box .inner .wrap article>p,
#box .inner .wrap article>p,
#box .inner .wrap article>p{
    font: 14px/1 "arial";
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

#box .inner .wrap article>a,
#box .inner .wrap article>a,
#box .inner .wrap article>a,
#box .inner .wrap article >a{
    font: bold 16px/1 "arial";
    color: #333;
    border: 1px solid #888;
    display: inline-block;
    text-align: center;
    padding: 5px 20px;
    border-radius: 50px;
}

/* 
1. 53~94라인에 #box .inner .wrap arcticle>h2,p,a를 해야 하는걸 #box .inner .wrap article .pic클래스까지 같이 연결시켜버려서 헤맸었습니다..

2. #box .inner .wrap::after{
    content: '';
    display: block;
    clear: both;
}
위 작업을 정확히 어떤 경우에 해야 하는지 궁금해요

3. 처음 볼때부터 궁금했던건데 border나 color에서 색을 불러올때 "색이름, #, RGB" 이 세가지 차이점이 있을까요 ?
   불러오는데 시간이 더 걸린단던가, 전송속도 차이?, 용량차이? 같은 것들이요!

4. 개인적으로 저희가 만들었던 것 말고도 오늘 만들지 않았던 다른 예제가 있다면 그것을 만들어 오라는 과제 주실 수 있을까요 ? ?  
   따로 복습할때 똑같은 걸 만들다보니 반사적으로 외우게 되서.. 
*/



